*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: white;
}
/* #0B0B0B */
html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(33, 32, 32, 0.998);
}
#loader{
    height: 100%;
    width: 100%;
    padding: 25vh 10vw ;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
}
#line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}
#line-part1 h5,#line-part1 h6{
    font-size: 3vw;
    font-weight:100  ;
    font-family: 'silk serif';
    
}
#line-part1 h5{
    text-align: right;
}
.line{
    /* background-color: red; */
    overflow: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
    font-weight: 900;
    opacity: 0;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family:"plain light" ;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 1;
    }
    47%{
        font-family:"plain light" ;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}










#main{
    position: relative;
    background-color: #111;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

