*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: white;
}
/* #0B0B0B */
html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(33, 32, 32, 0.998);
}
#crsr{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.793);
    position: fixed;
    z-index: 9999;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}
#loader{
    height: 100%;
    width: 100%;
    padding: 25vh 10vw ;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
}
#line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}
#line-part1 h5,#line-part1 h6{
    font-size: 3vw;
    font-weight:100  ;
    font-family: 'silk serif';
    
}
#line-part1 h5{
    text-align: right;
}
.line{
    /* background-color: red; */
    overflow: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
    font-weight: 900;
    opacity: 0;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family:"plain light" ;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 1;
    }
    47%{
        font-family:"plain light" ;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}
#main{
    position: relative;
    background-color: #111;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#nav-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav2 h4{
    font-size: 0.8vw;
    font-weight: 500;
}
.herocont{
    position: relative;
    /* background-color: red; */
}
.hero{
    width: 72%;
    margin-left: 25%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position:relative ;
    z-index: 5;
}
.hero:nth-child(1){
    margin-top:14vh; 
}
.hero h1{
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 500;
}

.hero h2 {
    /* background-color: pink; */
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 500;
    border-bottom: 5px solid white;
    padding-bottom: 2vw;
}

.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    transition: all ease 0.3s;
}

.box{
    height: 100%;
    width: 22vw;
    position: absolute;
    z-index: 1;
    left: 40%;
    top: 10%;
    display: none;
}
.box1{
    height: 50%;
    background-color: blue;
}
.box2{
    height: 50%;
    background-color: yellow;
}

.video{
    margin-top:23vh;
    height: 500px;
    width: 70vw;
    background-color: aqua;
    position: relative;
    left: 30%;   
}
.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play{
    height: 20vh;
    width: 20vh;
    background-color: rgb(255, 168, 7);
    border-radius: 50%;
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(-10%,-50%);
}