*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: white;
}
/* #0B0B0B */
html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(33, 32, 32, 0.998);
}
#crsr{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.793);
    position: fixed;
    z-index: 9999;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}
#loader{
    height: 100%;
    width: 100%;
    padding: 25vh 10vw ;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
}
#line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}
#line-part1 h5,#line-part1 h6{
    font-size: 3vw;
    font-weight:100  ;
    font-family: 'silk serif';
    
}
#line-part1 h5{
    text-align: right;
}
.line{
    /* background-color: red; */
    overflow: hidden;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
    font-weight: 900;
    opacity: 0;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family:"plain light" ;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 1;
    }
    47%{
        font-family:"plain light" ;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}
#main{
    overflow: hidden;
    position: relative;
    background-color: #111;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#nav-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav2 h4{
    font-size: 0.8vw;
    font-weight: 500;
}
.herocont{
    position: relative;
    /* background-color: red; */
}
.hero{
    width: 72%;
    margin-left: 25%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position:relative ;
    z-index: 5;
}
.hero:nth-child(1){
    margin-top:14vh; 
}
.hero h1{
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 500;
}

.hero h2 {
    /* background-color: pink; */
    font-size: 8vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 500;
    border-bottom: 5px solid white;
    padding-bottom: 2vw;
}

.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    transition: all ease 0.3s;
}
#hero1 h1 {
    position: relative;
}
#hero1 h1::before{
    color: #fff;
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 8%;
}

.box{
    height: 100%;
    width: 22vw;
    position: absolute;
    z-index: 1;
    left: 40%;
    top: 10%;
    display: none;
}
.box1{
    height: 50%;
    background-color: blue;
}
.box2{
    height: 50%;
    background-color: yellow;
}

.video{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;   
    /* padding-top: 20vh; */
}
.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play{
    height: 20vh;
    width: 20vh;
    background-color: rgb(255, 168, 7);
    border-radius: 50%;
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(-10%,-50%);
}

#page2{
    padding-top: 10vh;
    height: 100vh;
    width: 100vw;
    background-color: #151515;
}

.video img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 0vh 3vw;
}
#page3 .heading{
    font-size: 6vh;
    text-transform: uppercase;
    position: relative;
    margin-left:22vw ;
}
#page3 h1{
    margin-bottom: 10vh;
}
#page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 8%;
}

#image-div-container{
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 20vh;
}
.image-div{
    height: 38vw;
    width: 27vw;
    /* background-color: #3F7DF4; */
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}
.image-div:nth-child(1){
    height: 29vw;
    width: 27vw;
}
.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    margin-top: 20vh;
    margin-left: 10vw;
}
.page3-circle1 svg{
    height: 50%;
    width: 50%;
    object-fit: contain;
    /* object-position: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    z-index: 0;
}
.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    margin-right: 5vw;
}
.page3-circle2 svg{
    height: 50%;
    width: 50%;
    object-fit: contain;
    /* object-position: center; */
    position: absolute;
    top: 25%;
    left: 61%;
    transform: translate(-50% ,-50%);
    rotate: -45deg;
    z-index: 0;
}
#cover1{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #fff;
    scale: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cover1 p{
    color: black;
    width: 80%;
}

#cover2{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #fff;
    scale: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cover2 p{
    color: black;
    width: 80%;
}
.image-div:nth-child(6){
    height: 29vw;
    width: 27vw;
}
#page4{
    padding-top: 7vh 0;
    background-color: #151515;
}
#page4-content{
    width: 72vw;
    margin-left: 50vh;
}

#page4-content h1{
    font-size: 11vh;
    font-family: 'plain light';
    text-align:left;
    margin-bottom: 10vh;
    text-transform: capitalize;
    position: relative;
}
#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top: 8%;
}
.underline{
    border: 1px solid rgba(255, 255, 255, 0.658);
    /* margin-bottom:15vh ; */
}
#page4-content #topf{
    margin-top: 15vh;
    width: 78vh;
    font-size:4.5vh ;
    font-weight: 900;
    margin-bottom: 4.4vh;
}

.img-text{
    display: flex;
    gap: 5vh;
    font-size: 1vh;
    /* position: relative; */
}

.img-text img{
    width: 50%;
    /* height: 60vh; */
}

#text{
    width: 35vh;
    line-height:3vh ;
    font-size: 2vh;
    font-weight: 300;
}

.blue{
    background-color: #3F7DF4;
    width: 33vw;
    height: 74vh;
    position: relative;
    margin-left: 26vw;
    margin-top:-36vh;
    top: 65%;
    z-index: 3;
    margin-bottom: 18vh;
}
#page5{
    min-height: 100vh;
    width: 100vw;
    padding: 7vw 0;
    background-color: #151515;
    position: relative;
    padding-bottom: 30vh;
}
.elem{
    /* background-color: red; */
    white-space: nowrap;
    overflow: hidden;
}
.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px  #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 16px;
    animation-name: marque;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes marque {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

.elem2{
    /* background-color: red; */
    white-space: nowrap;
    overflow: hidden;
}

.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px  #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 16px;
    transform: translateX(calc(-100% - 20px));
    animation-name: marque;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

h1 span{
    font-size: 7vw;
    -webkit-text-stroke: 1px  #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    font-family: "silk serif";
    font-style: italic;
}
#page-6{
    background-color: #151515;
    padding-top: 10vh;
    width: 100%;
    min-height: 100vh;
    padding-left: 53vh;
}

.ani-text{
    font-size: 4.5vh;
    font-weight: 900;
    width: 70vw;
    height: 80vh;
    border-bottom: 1px solid #ffffffc4;
}

.ani-text h1{
    font-size: 7vw;
    padding-bottom: 10vh;
}
.contact{
    padding-top: 10vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30vh;
}
.contact h6{
    font-size: 2.5vh;
    margin-bottom: 4vh;
    font-weight: 300;
}
.contact h5{
    font-size: 3vh;
}
.ani-text h1:hover{
    font-size: 7vw;
    -webkit-text-stroke: 1px  #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    font-family: "silkserif";
    font-style: italic;
    transition: all ease 0.5s;
    direction: ltr;
}

.mousefollower{
    border: 2px solid #fff;
    background-color: rgb(255,255,255);
    scale: 2;
    mix-blend-mode: difference;
}


.disc h1{
    margin-right: 1vw;
    margin-bottom: 0vw;
}
.disc2{
    margin-top: 2vw; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7vh;
}
.disc2 h6{
    font-size: 0.9vw;
}
